* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

body {
  background-color: rgb(145, 195, 245);
}

a {
  color: inherit;
}

footer {
  padding: 10px 5px 5px 5px;
  background: #A5C7EB url('/img/dots-bg.png') repeat-x;
  color: rgb(76, 113, 168);
}

footer a :hover {
  opacity: 0.9;
}

.container-main {
  max-width: 900px;
  background: #c1e0ff;
  box-shadow: 0 0 5px rgb(76, 113, 168);
  border: solid 1px rgb(76, 113, 168);
  padding: 0;
}

.nav {
  background: #e3f1ff;
  border-top: solid rgb(76, 113, 168) 1px;
  border-bottom: solid rgb(76, 113, 168) 1px;
  padding: 7px 5px;
  gap: 3px;
}

.nav-link {
  color: rgb(76, 113, 168);
  background: linear-gradient(0deg, rgb(130, 188, 255) 0%, rgb(255, 254, 254) 100%);
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid rgb(76, 113, 168);
  font-weight: bold;
  transition: none;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: white;
  background: linear-gradient(0deg, rgb(130, 188, 255) 70%, rgb(255, 254, 254) 100%);
  font-style: italic;
  transition: none;
}

.banner {
  padding: 5px;
}

.img-banner {
  width: 100%;
  height: auto;
}

.box {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #A5C7EB;
}

.sidebar {
  background: rgb(189, 219, 250);
}

.lastfm {
  padding: 0 5px;
  border: 1px solid #A5C7EB;
}

.lastfm a {
  text-decoration: none;
  line-height: 110%;
}

.lastfm img {
  border: 1px solid #A5C7EB;
}

.lastfm a:hover {
  text-decoration: underline;
}

.lastfm a:hover img {
  border: 1px solid black;
}

.lastfm-credit a {
  opacity: 0.5;
  text-decoration: none;
}

.lastfm-credit a:hover {
  text-decoration: underline;
}

.scan-container {
  text-decoration: none;
  background: linear-gradient(0deg, rgb(189, 219, 250) 0%, rgb(239, 247, 255) 100%);
  border: 1px solid rgb(76, 113, 168);
  border-radius: 5px;
}

.scan-container:hover {
  background: linear-gradient(0deg, rgb(189, 219, 250) 70%, rgb(239, 247, 255) 100%);
}

.scan-container .desc {
  line-height: 110%;
  margin-bottom: 4px;
}

.scan-container .top {
  line-height: 110%;
}

.scan-container .release-info {
  opacity: 0.7;
  line-height: 90%;
  font-size: 0.7rem;
}

.badges {
  padding: 3px 0 3px 0;
  border-top: 1px dotted rgb(76, 113, 168);
  border-bottom: 1px dotted rgb(76, 113, 168);
  margin: 4px 0 4px 0;
}

.badges-lg {
  padding: 9px 0 9px 0;
  border-top: 1px dotted rgb(76, 113, 168);
  border-bottom: 1px dotted rgb(76, 113, 168);
  margin: 4px 0 4px 0;
}

.badges span {
  font-size: 0.7rem;
  border-radius: 5px;
  padding: 2px 5px;
  color: white;
  margin-right: 2px;
}

.badges-lg span {
  border-radius: 5px;
  padding: 3px 7px;
  color: white;
  margin-right: 4px;
}

.badge-blue {
  background: linear-gradient(0deg, rgb(76, 113, 168) 75%, rgb(239, 247, 255) 100%);
  border: 1px solid rgb(40, 77, 133);
}

.badge-gray {
  background: linear-gradient(0deg, rgb(104, 104, 104) 75%, rgb(239, 247, 255) 100%);
  border: 1px solid rgb(53, 53, 53);
}

.badge-orange {
  background: linear-gradient(0deg, rgb(216, 110, 11) 75%, rgb(239, 247, 255) 100%);
  border: 1px solid rgb(160, 96, 13);
}

.badge-pink {
  background: linear-gradient(0deg, rgb(212, 68, 169) 75%, rgb(239, 247, 255) 100%);
  border: 1px solid rgb(160, 60, 115);
}

.badge-yellow {
  background: linear-gradient(0deg, rgb(19, 180, 33) 75%, rgb(239, 247, 255) 100%);
  border: 1px solid rgb(40, 136, 31);
}

.scan-thumb {
  background-color: rgb(189, 219, 250);
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

.scan-thumb:hover {
  opacity: 1;
}

.scan-thumb img {
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.title-lg h4 {
  font-weight: bold;
}

.scan-info {
  padding-top: 4px;
  border-top: 1px dotted rgb(76, 113, 168);
  font-size: 0.8rem;
  line-height: 130%;
}

.dl {
  color: rgb(76, 113, 168);
  background: linear-gradient(0deg, rgb(130, 188, 255) 0%, rgb(255, 254, 254) 100%);
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid rgb(76, 113, 168);
  font-weight: bold;
  transition: none;
  text-decoration: none;
}

.dl:hover, .dl:focus, .dl:active {
  color: white;
  background: linear-gradient(0deg, rgb(130, 188, 255) 70%, rgb(255, 254, 254) 100%);
  font-style: italic;
  transition: none;
}