---
import Layout from '../../layouts/main.astro';
---
<Layout>
	<div class="row">
		<div class="col-md-12 py-2">
      <div class="box">
        <h4>Website Assets</h4>
        <p>There's nothing here yet! :3</p>
      </div>
		</div>
	</div>
</Layout>