---
export interface Props {
  href: string;
  thumb: string;
  title: string;
  titleR?: string;
  artist: string;
  artistR?: string;
  year?: string;
  cat?: string;
  badges: Record<string, string>;
  desc?: string;
}

const { href, thumb, title, titleR, artist, artistR, year, cat, badges, desc } = Astro.props;
---

<div class="col-lg-4 col-md-6">
  <a class="gradient-box scan-container d-flex align-items-start p-2" href={"/scans-and-rips/" + href}>
    <img src={"/img/thumbs/" + href + "/" + thumb} />
    <div class="ps-2 w-100 h-100 d-flex flex-column">
      <div class="top">
        <div class="title">
          <b>{title} <span class="title-r">{titleR ? "(" + titleR + ")" : ""}</b>
        </div>
        <div class="artist">
          {artist} <span class="artist-r">{artistR ? "(" + artistR + ")" : ""}</span>
        </div>
      </div>
      <div class="badges d-flex flex-wrap">
        {Object.entries(badges).map(([name, color]) => (
          <span class={"cbadge badge-" + color}>{name}</span>
        ))}
      </div>
      <div class="desc">
        <small>{desc ? desc : ""}</small>
      </div>
      <div class="release-info mt-auto">
        {year && cat ? year + " | " + cat : ""}
      </div>
    </div>
  </a>
</div>